@import 'variables';
@import '~bulma';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body {
  // background: $main-background;

  #app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow: hidden;

    main {
      flex: 1;
      padding: 1rem 2rem;

      .title {
        font-size: 1.75rem;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


